body,
html {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  background-color: #7c1010;
}

nav.navbar {
  justify-content: center;
}

nav.navbar .navbar-nav .nav-link {
  color: white !important;
  font-size: 20px;
}

main {
  flex: 1;
}

.banner {
  background: url("banner-oficina.png") no-repeat center center;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 0;
  padding-top: calc(
    500 / 1920 * 100%
  ); /* Altura proporcional à largura da imagem */
}

/* .servicos .card {
  margin-bottom: 30px;
} */

.testemunhos blockquote {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.footer {
  background: #343a40;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.container h3 {
  font-size: 1.5rem;
}

.container p {
  font-size: 1rem;
}
